@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light_black:rgb(30,31,41);
  --black:rgb(21,22,29);
  --red:rgb(210,23,55);
  --gray:rgb(229,230,239);
  --drak_gray:rgb(185,186,188);
}
*{
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}
nav ul li{
  position: relative;
}
nav ul li::before{
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--red);

}
nav ul li:hover{
color: var(--red);
cursor: pointer;
}
nav ul li:hover::before{
  transition: all 0.5s ease-in-out;
  width: 100%;
}
input[type=checkbox]{
  accent-color: white !important;
  width: 15px;
  height: 15px;
  border: 1px solid gray;
}
input{
 display: block;
}
.bg-red{
  background-color: var(--red);
}
.bg-gray{
  background-color: var(--gray);
}
.bg-drak_gray{
  background-color: var(--drak_gray);
}
.bg-light_black{
  background-color: var(--light_black);
}
.bg-dark_black{
  background-color: var(--black);
}
.text-red{
  color: var(--red);
}
.text-gray{
  color: var(--gray);
}
.text-drak_gray{
  color: var(--drak_gray);
}
.text-light_black{
  color: var(--light_black);
}
.text-dark_black{
  color: var(--black);
}
