@tailwind base;
@tailwind components;
@tailwind utilities;


  .clip-diagonal {
    clip-path: polygon(0% 0%, 91.1% 0%, 31% 100%, 0% 100%);
  }



:root {
  --light_black:rgb(30,31,41);
  --black:rgb(21,22,29);
  --red:rgb(210,23,55);
  --gray:rgb(229,230,239);
  --drak_gray:rgb(185,186,188);
}
*{
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}
nav ul li{
  position: relative;
}
nav ul li::before{
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--red);

}
nav ul li:hover{
color: var(--red);
cursor: pointer;
}
nav ul li:hover::before{
  transition: all 0.5s ease-in-out;
  width: 100%;
}
input[type=checkbox]{
  accent-color: white !important;
  width: 15px;
  height: 15px;
  border: 1px solid gray;
}
input{
 display: block;
}
.bg-red{
  background-color: var(--red);
}
.bg-gray{
  background-color: var(--gray);
}
.bg-drak_gray{
  background-color: var(--drak_gray);
}
.bg-light_black{
  background-color: var(--light_black);
}
.bg-dark_black{
  background-color: var(--black);
}
.text-red{
  color: var(--red);
}
.text-gray{
  color: var(--gray);
}
.text-drak_gray{
  color: var(--drak_gray);
}
.text-light_black{
  color: var(--light_black);
}
.text-dark_black{
  color: var(--black);
}
.box_shadow{
  box-shadow: rgb(228, 231, 237) 0px 0px 0px 0px, rgb(228, 231, 237) 0px 0px 0px 1px;
}
.box_shadow2{
  box-shadow: rgb(210,23,55) 0px 0px 0px 0px, rgb(210,23,55) 0px 0px 0px 1px;
}
.group1:hover .group1child{
  box-shadow: rgb(210,23,55) 0px 0px 0px 0px, rgb(210,23,55) 0px 0px 0px 1px;
}

.group1:hover .addtocart{
  animation: animate 1s ease-in-out forwards ;
}

.email_buttons li{
  width: 45px;
  height: 30px;
  border: 1px solid gray;
  display: flex ;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-size: 12px;
  padding: 0% 10px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}
.email_buttons li:hover{
  background-color: rgb(228,231,237);
  color: red;
}
.col ul{
  width: fit-content;
}
.col ul li{
  transition:all .3s ease-in-out;
}
.col ul li:hover{
  cursor: pointer;
  color: red;
}

 @keyframes animate {
  0%{
    bottom: 0px;
  }
  100%{
    bottom: -18%;
  }
 }